<!DOCTYPE html>
<html>

<head>
  <title>SLUG</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap">
   <style>
     body {
      font-family: 'Playfair Display SC', serif;
     }
   </style>-->
</head>

<body>

  <nav class="navbar navbar-expand-md  justify-content-start">
    <div><%= image_tag("Sluglifetitleclear.png", class: "logo")%></div>
          <ul class="navbar-nav mx-auto text-left">
              <li class="nav-item navspec">
                  <%= link_to 'LOOKBOOK', root_path, class: "nav-link navtext" %>
              </li>
              <div class = "nav-item navspec nav-link navtext"> - </div>
              <li class="nav-item my-auto navspec">
                <%= link_to 'SHOP', products_index_path, class: "nav-link navtext" %>
              </li>
              <div class = "nav-item navspec nav-link navtext"> - </div>
              <li class="nav-item navspec">
                <%= link_to 'CONTACT', posts_aboutus_path, class: "nav-link navtext" %>
              </li>
          </ul>
    <div class = "navcart navitem navspec">
      <%= link_to root_path do %>
        <%= fa_icon "shopping-cart", class: "nav-link navtext navcart" %>
      <% end %>
    </div>
  </nav>




  <% if false %>

    <% end %>
  <%= yield %>
</body>
</html>
