<!DOCTYPE html>
<html>

<head>
  <title>Slug Life</title>
  <nav class="navbar navbar-expand-md  justify-content-start">
          <ul class="navbar-nav mx-auto text-md-center text-left">
              <li class="nav-item navspec">
                  <%= link_to 'LOOKBOOK', root_path, class: "nav-link navtext" %>
              </li>
              <li class="nav-item my-auto navspec">
                <%= link_to 'SHOP', products_index_path, class: "nav-link navtext" %>
              </li>
              <li class="nav-item navspec">
                  <%= link_to 'CONTACT', posts_aboutus_path, class: "nav-link navtext" %>
              </li>
          </ul>
  </nav>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap">
   <style>
     body {
      font-family: 'Playfair Display SC', serif;
     }
   </style>-->
</head>

<body>




  <% if false %>

    <% end %>
  <%= yield %>
</body>
</html>
